<%- include('partials/header'); -%>
<div class="container p-5 mt-5">
    <div class="text-center row col col-lg-8 col-sm-9 mx-auto lgbody" id="form-body">
            <div id="form" class="m-3">
                <h2 class="p-3">Sign-Up to Book Area</h2>
                <form action="/signup" method="POST" onsubmit="return validateForm()">
                    <div class="container text-start p-4">
                        <div class="form-group row pt-4">
                            <div class="col col-lg-6 col-sm-8 mx-auto">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="username" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col col-lg-6 col-sm-8 mx-auto">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" minlength="8" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col col-lg-6 col-sm-8 mx-auto">
                                <label for="password">Confirm Password</label>
                                <input type="password" class="form-control" name="cpassword" minlength="8" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-info col-4 mt-4 mb-3">Sign-Up</button>
                    <div class="row">
                        <hr class="my-2 mb-4 col-3 ms-auto">
                        <p class="col-1">OR</p>
                        <hr class="my-2 mb-4 col-3 me-auto">
                    </div>
                    <a class="btn btn-outline-info mx-1" href="/auth/google" role="button"><i class="bi bi-google"></i></a>
                    <a class="btn btn-outline-info" href="/auth/facebook" role="button"><i class="bi bi-facebook"></i></a>
                </form>
            </div>
            <script>
                function validateForm() {
                  var passwordInput = document.getElementsByName("password")[0];
                  var cpasswordInput = document.getElementsByName("cpassword")[0];
                  if (passwordInput.value!=cpasswordInput.value) {
                    alert("Passwords didn't match!!");
                    return false;
                  }else{
                    return true;
                  }
                }
                </script>
<%- include('partials/footer'); -%>